<div class="filters">
    <button class="filterBtn scroll-left"><i class="fa-solid fa-angle-left"></i></button>
    <div class="filters-wrapper">
      <% const categories = [
        { name: 'Desert', image: 'Desert.jpg' },
        { name: 'Cabin', image: 'Cabins.jpg' },
        { name: 'Countryside', image: 'countryside.jpg', display: 'Country Side' },
        { name: 'Farm', image: 'Farms.jpg' },
        { name: 'Historicalhome', image: 'historical homes.jpg', display: 'Historical Home' },
        { name: 'Castles', image: 'Castles.jpg' },
        { name: 'Lakefront', image: 'Lakefront.jpg' },
        { name: 'Beachfront', image: 'Beachfront.jpg' },
        { name: 'Tinyhome', image: 'Tiny house.jpg', display: 'Tiny Home' },
        { name: 'Treehouse', image: 'Treehouses.jpg', display: 'Treehouses' },
        { name: 'Topcities', image: 'Top cities.jpg', display: 'Top Cities' },
        { name: 'Camping', image: 'Camping.jpg' },
        { name: 'Amazingpools', image: 'Amazing pools.jpg', display: 'Amazing pools' },
        { name: 'Beach', image: 'Beach.jpg' },
        { name: 'Arctic', image: 'Arctic.jpg' }
      ]; %>
  
      <% for (let category of categories) { %>
        <% const isActive = locals.currentCategory && (locals.currentCategory === category.name || locals.currentCategory === category.display); %>
        <div class="col-6 col-md-4 col-lg-2 filter">
          <a href="/listings/category/<%= category.name %>" class="category-link <%= isActive ? 'active-category' : '' %>">
            <div>
              <img src="/assets/filterIcons/<%= category.image %>" alt="<%= category.display || category.name %>">
              <p><%= category.display || category.name %></p>
            </div>
          </a>
        </div>
      <% } %>
    </div>
    <button class="filterBtn scroll-right"><i class="fa-solid fa-angle-right"></i></button>
  
    <div class="filter-box" id="filterBoxBtn">
      <img src="/assets/filterIcons/filter-icon.jpg">
      <p>Filters</p>
    </div>
</div>

